<div class="modal fade modal-carro" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg modal-xs modalCarrito">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title titulos titulo1">RESUMEN DE TU CARRITO</h4>
            </div>
            <div>
                <div class="precio">
                    <h5 class="precios titulos estilo">PRECIO</h5></div>
                <div class="cantidad">
                    <h5 class="cant titulos estilo">CANTIDAD</h5></div>
                <div class="producto">
                    <h5 class="titulos estilo product-title-cart">PRODUCTO</h5></div>
                <div class="clearfix claerfix-top"></div>
                <hr class="cart-line">
            </div>
            <div class="modal-body shopping-cart">
            </div>
            <div class="modal-footer">
                <div class="btn-footer">
                    <button type="button" class="botones btn-go-back" data-dismiss="modal" id="busca2">VOLVER</button>
                </div>
                <div class="checkout-form"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-template" id="shopping-cart-total">
    <div>
        <span class="money">{{! total }}</span>
        <h5 class="total-title"><b>TOTAL </b></h5>
    </div>
    <hr class="total-line">
    <h5 class="info-title"><i>* El despacho no está incluido todavía</i></h5>
</script>


<script type="text/template" id="shopping-cart-product">
    <div class="shopping-cart-product">
        <div style="float: left; position: absolute; left: 7%;">
            <img src="{{! images[0]['thumb_1'] }}" style="width: 70px; height: 70px">
        </div>
        <br>
        <div class="nombre_producto names titulos">{{! name }}</div>
        <div class="marca_producto titulos"><b>{{! brand }}</b></div>
        <div class="cantidad_producto titulos">
            <span class="quantity titulos canti">{{! quantity }}</span> &nbsp;
            <a href="#" class="add-one fa fa-plus-circle boton_redondo" lp-cart-add-one="{{! id }}" product-id="{{! id }}"></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="remove-one fa fa-minus-circle boton_redondo boton_menos" lp-cart-remove-one="{{! id }}" id="{{! id }}" product-id="{{! id }}"></a>
        </div>
        <div class="total_producto">
            <span class="product-total moneyProducto titulos">{{! total|money }}</span>
        </div>
        <div id="trash-div">
            <a href="#" class="remove-from-cart basurero" lp-cart-remove="{{!id }}" product-id="{{! id }}" id="basura"><img src="https://7static.loadingplay.com/static/images/03dc3ce6b9d6bebfa6f7bbb0928d3ce6_basurerito.png" style="width: 20px"></a>
        </div>
        <br>
        <div>
            <hr style="width: 90%; height: 1px !important; color: #979797 !important; background-color: #979797">
        </div>
    </div>
</script>

<script type="text/x-template" id="shopping-cart-checkout-form">
    <form action="{{!checkout_url}}" method="get" novalidate id="shipping-form" class="myform">
        <input name="checkout" class="form-control required" type="hidden" value="{{!checkout_url}}" />
        <input name="site_id" class="form-control required" type="hidden" value="42" />
        <input name="cart_id" class="form-control required" type="hidden" value="{{!cart_id}}" />
        <input name="session_id" class="form-control required" type="hidden" value="{{!session_id}}" />
        <input name="success_url" class="form-control required" type="hidden" value="{{!success_url}}" />
        <input name="failure_url" class="form-control required" type="hidden" value="{{!failure_url}}" />
        <input name="webpay_url" class="form-control required" type="hidden" value="{{!webpay_url}}" />
        <input type="submit" class="form-group text-center botones compra" id="busca2" value="COMPRAR" style="margin-right: 5% " />
    </form>
</script>
