<header class="font-menu">
    <ul class="topnav" id="myTopnav">
        <div class="container">
            <div class="imagen imagen-header">
                <a class="navbar-brand" href="#"><img class="imagenBiluppo2" src="https://84static.loadingplay.com/static/images/3e09d223c19826659c5c9d79deb4c9ba_Biluppo_PNGs_Web_7-13.png"></a>
            </div>
            <div class="hidden-xs hidden-sm hidden-md cart-div-desk">
                <a href="https://www.instagram.com/biluppo/?hl=en" class="redondo2 div-instagram">
                    <span id="br" class="span-img-instagram"><img src="https://84static.loadingplay.com/static/images/b0fb3f25066774448748a4453a017b97_insta-gris.png" class="instaImg"></span>
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.facebook.com/biluppo/" class="redondo2 div-facebook">
                    <span id="br" class="span-img-facebook"><img src="https://84static.loadingplay.com/static/images/4fa07730e1206f393aa6a4b9036f26af_fb-gris.png" class="faceImg"></span>
                </a>
                <a href="#" data-toggle="modal" class="redondo hidden-md hidden-sm hidden-xs" data-target="#myModal">
                    <img src="https://84static.loadingplay.com/static/images/10976f3e84da85bfdd1da026cd9c09a5_canasto-gris-_(1).png" class="carro">
                    <span class="units-total shopping-cart-animation numero" id="br" ></span>
                </a>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="icon">
                <a href="javascript:void(0);" class="iconoMenu" onclick="myFunction()">☰</a>
            </li>
            <li class="li-home">
                <a id="barra" class="home barras hidden-xs hidden-sm hidden-md" href="{{site_base}}">HOME</a>
            </li>
            <li>
                <a id="barra" class="biluppo2 barras inicio" href="{{site_base}}/quienessomos">BILUPPO</a>
            </li>
            <li>
                <a id="barra" class="shop barras" href="{{site_base}}/listado_productos">SHOP</a>
            </li>
            <li>
                <a id="barra" class="estimulacion barras" href="{{site_base}}/estimulacionTemprana">ESTIMULACION<br> TEMPRANA</a>
            </li>
            <li>
                <a id="barra" class="articulos barras" href="{{site_base}}/articulos">TIPS</a>
            </li>
            <li>
                <a id="barra" class="contacto barras" href="{{site_base}}/contacto">CONTACTO</a>
            </li>
            <div class="hidden-lg visible-md visible-sm visible-xs">
                <a class="link-instagram" href="https://www.instagram.com/biluppo/?hl=en">
                    <span class="fa-instagram fa" id="br2"></span>
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.facebook.com/biluppo/" class="link-facebook">
                    <span class="fa-facebook fa" id="br2"></span>
                </a>
            </div>
            <a href="#" data-toggle="modal" data-target="#myModal" class="hidden-lg modal-mobile">
                <img src="https://cdn.loadingplay.com/static/images/fbaebf78c9fecc6b569e1a2325d9c180_fbaebfcfeccbeadc_canastogisclaro.png" class="carro header-cart">
                <span class="units-total shopping-cart-animation numero span-units" id="br2"></span>
            </a>&nbsp;&nbsp;
        </ul>
    </div>
</header>
