{% extends "../base.html" %}
{% block title %}
{{ site.name }}
{% end %}
{% block head %}
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" /> {% end %}

{% block header %}
  {% include ../home/header.html %}
{% end %} 

{% block css%}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bower/bodegas.client/dist/bodegas.client.css">
<link rel="stylesheet" type="text/css" href="{{ site_base }}/{{ nocache_static }}/style.css">
<link rel="stylesheet" type="text/css" href="{{ site_base }}/{{ nocache_static }}/index.css">

{% end %} 
{% block body %} 
{% if is_admin %} 
{% set editabletext = 'editabletext' %} 
{% else %} 
{% set editabletext = '' %} 
{% end %}

<!-- cache preloader -->
<div class="hidden" >
  <img src="{{ site_base }}/{{ nocache_static }}/img/gif/senior.gif" class="hidden" />
  <img src="{{ site_base }}/{{ nocache_static }}/img/gif/Gallina.gif" class="hidden" />
  <img src="{{ site_base }}/{{ nocache_static }}/img/gif/Elefante_2.gif" class="hidden" />
  <img src="{{ site_base }}/{{ nocache_static }}/img/gif/Pez.gif" class="hidden" />
  <img src="{{ site_base }}/{{ nocache_static }}/img/gif/camion.gif" class="hidden" />
  <img src="{{ site_base }}/{{ nocache_static }}/img/gif/Avion.gif" class="hidden" />
  <img src="https://84static.loadingplay.com/static/images/822b0be8348fdaa361f2d5a2851e0a09_Xilofono.gif" class="hidden" />
</div>
<!-- / cache preloader -->

<div  style=" margin-left: auto; margin-right: auto;position: relative;">
    <div class="espacio" style="padding: 41px;">
    </div>
    <div class="fondo">
      <div class="container home-icons" style="position: relative; left: 0.9%; bottom: 60px">
        <div class="icons-upper col-mx-12">
          <div class="col-sm-3 col-xs-6">
            <img id="senior" class="xilo hidden-xs hidden-md hidden-sm" src="https://84static.loadingplay.com/static/images/5c9fe0e77ae30e6fc5e4d3a1047867db_viejito.png">
          </div>
          <div class="col-sm-3 col-xs-6">
            <a href="{{site_base}}/articulos">
              <img id="gallina" class="xilo" src="https://7static.loadingplay.com/static/images/b9cc2f41c33e98690f8e73e1007e8c1d_gallina.png">
            </a>
          </div>
          <div class="col-sm-3 col-xs-6 elephant">
            <img id="elefante" class="xilo hidden-xs hidden-md hidden-sm" src="https://84static.loadingplay.com/static/images/44b2121dfa25515e96506b83aa1d7332_Elefante.png">
          </div>
          <div class="col-sm-3 col-xs-6 fish">
            <a href="{{site_base}}/estimulacionTemprana">
              <img id="pez" class="xilo" src="https://84static.loadingplay.com/static/images/b92864a385e23bccfd27c3bc1d6ca0ec_Pez.png">
            </a>
          </div>
        </div>
        <div class="icons-mid col-mx-12">
          <img id="titulo" class="xilo" src="https://84static.loadingplay.com/static/images/a9557249194d1751e37e4ab7a3403bb1_Biluppo_Web_7_JUGUETES2.png">
        </div>
        <div class="icons-lower">
          <div class="col-sm-4 col-xs-6 camion">
            <a href="{{site_base}}/listado_productos" >
              <img id="camion" class="xilo" src="https://84static.loadingplay.com/static/images/b35bdb2bf4c9af9f30328e98316f8f4c_camion.png">
            </a>
          </div>
          <div class="col-sm-4 col-xs-6 avion">
            <img id="avion" class="xilo hidden-xs hidden-md hidden-sm" src="https://84static.loadingplay.com/static/images/b1e00fed70c252ff2ed936c293f87da6_avion.png">
          </div>
          <div class="col-sm-4 col-xs-12 xilo">
            <a href="{{site_base}}/quienessomos">
              <img id="xilofono" class="xilo2" src="https://84static.loadingplay.com/static/images/038a64de64031a889ae5602202dde63f_xilophono.png">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix" style="padding: 20px"></div>

    <div class="container">
    <div id="alineacion col2">
        <img class="ardilla hidden-md hidden-xs hidden-sm" src="https://84static.loadingplay.com/static/images/873e6b4433ba88028c57a777e4f195c4_Biluppo_PNGs_Web_7-15.png">
        <h1 class="el_juego">El juego es el<br>primer lenguaje de tu hijo</h1>
        <img src="https://84static.loadingplay.com/static/images/96a31a2176934dbbbcd92f16aabe381a_Biluppo_Web_7_PUNTITOS.png" class="puntos">
    </div>
    <div class="clearfix" style="padding: 20px"></div>
    <div id="caja_imagen1" class="contenedor-img hover col-3" style="position: relative;">
        {% if is_admin %}
        <div class="image-upload lapiz visible-movil" style="z-index: 1;">
            <label for="img_index3">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage imagenesBiluppo" image-id="{{ site.name }}index3" name="image" id="img_index3" style=" object-fit: cover; width: 100%;height: 100%;" />
        </div>
        {% end %}
        <img class="imgBil" id="{{ site.name }}index3" src="{{ read_image(site.name + 'index3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + 'index3',) }}'" class="cuadros-home" alt="item" style=" object-fit: cover; width: 420px;height: 450px;">
        <div class="mascara">
            <div class="contenedor2">
          <div class="parrafo text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_index1' }}" style="font-size: 27px">{{ read_text(site.name + 'text_index1') }}</div>
          </div>
            <!--editable link-->
        <div>
        <a id="{{ site.name + '_' }}" href="{{ read_link(site.name + '_grupo1') }}">
            <img src="https://84static.loadingplay.com/static/images/ddeddeeaa642812b205eb52733aaefa3_images.png" class="mas">
            
        </a>
        {% if is_admin %}
        <img class="change-image editablelink import" link-id="{{ site.name + '_grupo1' }}" content="{{ read_link(site.name + '_grupo1') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;"> {% end %}
        </div>
        </div>
    </div>
    <div id="caja_imagen2" class="contenedor-img hover col-6">
    {% if is_admin %}
    <div class="image-upload lapiz visible-movil" style="z-index: 1;">
        <label for="img_index1">
            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
        </label>
        <input type="file" class="editableimage imagenesBiluppo" image-id="{{ site.name }}index1" name="image" id="img_index1" style="object-fit: cover; width: 100%;height: 100%;" />
    </div>
    {% end %}
    <img class="imgBil" id="{{ site.name }}index1" src="{{ read_image(site.name + 'index1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + 'index1',) }}'" class="cuadros-home" alt="item" style=" object-fit: cover; width: 420px;height: 450px;">
    <div class="mascara" >
    <div class="contenedor2">
          <div class="parrafo text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_index2' }}" style="font-size: 27px">{{ read_text(site.name + 'text_index2') }}</div>
          </div>
        <!--editable link-->
        <div>
        <a id="{{ site.name + '_' }}" href="{{ read_link(site.name + '_grupo2') }}">
            <img src="https://84static.loadingplay.com/static/images/ddeddeeaa642812b205eb52733aaefa3_images.png" class="mas">
            
        </a>
        {% if is_admin %}
        <img class="change-image editablelink import" link-id="{{ site.name + '_grupo2' }}" content="{{ read_link(site.name + '_grupo2') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;"> {% end %}
        </div>
    </div>
</div>

    <div id="caja_imagen3" class="contenedor-img hover col-3" >

  {% if is_admin %}
        <div class="image-upload lapiz visible-movil" style="z-index: 1;">
            <label for="img_index2">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage imagenesBiluppo" image-id="{{ site.name }}index2" name="image" id="img_index2" style=" object-fit: cover; width: 100%;height: 100%;"/>
        </div>
  {% end %}
       
        <img class="imgBil" id="{{ site.name }}index2 " src="{{ read_image(site.name + 'index2', 1) }} " onload="this.onload='';this.src='{{ read_image(site.name + 'index2',) }}' " class="cuadros-home " alt="item " style=" object-fit: cover; width: 420px;height: 450px;">
  <div class="mascara ">
  <div class="contenedor2">
          <div class="parrafo text_main text-left {{editabletext}}" text-id="{{ site.name + 'text_index3' }}" style="font-size: 27px">{{ read_text(site.name + 'text_index3') }}</div>
          </div>
  <!--editable link-->
        <div>
        <a id="{{ site.name + '_' }}" href="{{ read_link(site.name + '_grupo3') }}">
            <img src="https://84static.loadingplay.com/static/images/ddeddeeaa642812b205eb52733aaefa3_images.png" class="mas">
            
        </a>
        {% if is_admin %}
        <img class="change-image editablelink import" link-id="{{ site.name + '_grupo3' }}" content="{{ read_link(site.name + '_grupo3') }}" src="https://7static.loadingplay.com/static/images/41664a512d21bc8d33cfea94bce3b63e_link.png" style="top: 20px; z-index: 2000!important;"> {% end %}
        </div>
  </div>
</div>
<div class="clearfix " style="padding: 100px; ">
  
</div>
</div>

{% include '../home/carrito_compra.html' %}
{% include '../home/footer.html' %}

</div>
{% end %}
