<style type="text/css">

@media only screen and (max-width: 768px){
    .carritoCompra
    {
        width: 3% !important;
        margin-top: -2% !important;
        margin-right: 28% !important;
    }
    .price{
        margin-left: 11% !important;
    }
    #titulo_producto{
        margin-right: 0% !important;
        padding-right: 0% !important;
        margin-left: 7% !important
    }
}
@media only screen and (max-width: 550px){
    .carritoCompra{
        margin-top: -5% !important;
    }

#titulo_producto{
    width: 9em !important;
}
}
@media only screen and (max-width: 414px){
    .coluProductos{
        width: 100% !important;
    }
}
@media only screen and (max-width: 375px){
    #titulo_producto {
        width: 12em !important;
    }
    .price {
        margin-left: 20% !important;
    }
}
@media only screen and (max-width: 320px){
    #titulo_producto{
        width: 15em;
    }
    .carritoCompra{
        margin-right: 2% !important;
    }
    .price{
        margin-left: 31% !important;
    }
    .products2{
        margin-left: 0% !important;
    }
}

</style>
<script type="text/template" id="product_template"> 
<div class="ocultar-detalle-producto">
    <div class="coluProductos col-lg-4 col-md-6 col-sm-6 col-xs-6 space10 h_detail_prod">
        <div class="product product-thumb cuadro_product">
            <a href="{{ site_base }}/sc/product/detail/{{! name|friendly }}/{{! id }}">
                <div class="box-4 caja-productos">
                    <img class="img_product img-responsive pad0 img-re" id="imagen_producto" src="{{! images[0]['thumb_200'] }}" onload="this.onload='';this.src='{{! images[0]["thumb_500"] }}'" title="" alt=""  onClick="style.pointerEvents='none'">
                    <div class="product-image-foreground hidden-xs hidden-md hidden-sm">
                    </div>
               </div>
            </a>
            <div class="description-div">
                <div class="carritoCompra carro-compra">
                    <span 
                        product-id="{{! id }}"
                        product-name="{{! name }}"
                        product-price="{{! main_price }}"
                        product-upp="{{! upp }}"
                        product-img="{{! images[0]['thumb_200'] }}"
                        class="add-to-cart add-to-cart-animation product-cart"
                        data-toggle="modal"
                        data-target="#myModal"
                        product-sku="{{! sku }}"
                        product-weight="{{! weight }}"
                        lp-cart-add
                        id="carrito2" 
                        >
                            <img src="https://84static.loadingplay.com/static/images/690727952280d380b064a5a461ed2ef8_Biluppo_PNGs_Web_7-23.png">
                    </span>
                </div>
                <h4 class="name ellipsis multiline product-title" id="titulo_producto" >
                    {{! name }}
                </h4>
                <div class="price">
                    {{! main_price|money }}
                </div>
                <div class="price">
                    {{! promotion_price|money }}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    </div>
</script>
