<script type="text/template" id="product_template"> 
    <div class="ocultar-detalle-producto">
        <div class="coluProductos col-lg-4 col-md-6 col-sm-6 col-xs-6 space10 h_detail_prod">
            <div class="product product-thumb cuadro_product">
                <a href="{{ site_base }}/sc/product/detail/{{! name|friendly }}/{{! id }}">
                    <div class="box-4 caja-productos">
                        <img class="img_product img-responsive pad0 img-re" id="imagen_producto" src="{{! images[0]['thumb_200'] }}" onload="this.onload='';this.src='{{! images[0]["thumb_500"] }}'" title="" alt=""  onClick="style.pointerEvents='none'">
                        <div class="product-image-foreground hidden-xs hidden-md hidden-sm">
                        </div>
                   </div>
                </a>
                <div class="description-div">
                    <div class="carritoCompra carro-compra">
                        <span 
                            product-id="{{! id }}"
                            product-name="{{! name }}"
                            product-price="{{! main_price }}"
                            product-upp="{{! upp }}"
                            product-img="{{! images[0]['thumb_200'] }}"
                            class="add-to-cart add-to-cart-animation product-cart cart-list {{! sku }}"
                            data-toggle="modal"
                            data-target="#myModal"
                            product-sku="{{! sku }}"
                            product-weight="{{! weight }}"
                            lp-cart-add
                            id="carrito2" 
                            >
                                <img src="https://84static.loadingplay.com/static/images/690727952280d380b064a5a461ed2ef8_Biluppo_PNGs_Web_7-23.png">
                        </span>
                    </div>
                    <h4 class="name ellipsis multiline product-title" id="titulo_producto" >
                        {{! name }}
                    </h4>
                    <div class="price main-price {{! sku }}">
                        {{! main_price|money }}
                    </div>
                    <div class="price promotion-price {{! sku }} hidden">
                        {{! promotion_price|money }}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</script>
