ul.topnav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.22);
}

.navbar-brand
{
    padding-top: 0%;
}

.span-img-instagram
{
    font-size: large;
    position: absolute;
    right: 7.4%;
    top: 35px;
}

.span-units
{
    font-size: large;
    position: absolute;
    top: 15px;
    right: 40px;
}

.header-cart
{
    position: absolute;
    right: 5%;
    top: 0%;
    width: 5%;
}

.iconoMenu
{
    font-size:45px;
    color: #e53623;
    float: left;
}

.fa-instagram
{
    font-size: large;
    position: relative;
}

.li-home
{
    margin-left: 35%;
}

.link-instagram
{
    padding:1%;
    color: #808080;
    float: right;
    margin-right: 45%;
}

.fa-facebook
{
    font-size: large;
    position: relative;
}

.modal-mobile
{
    padding:1%;
    color: white;
    float: right;
    top: 5px;
}

.link-facebook
{
    padding:1%;
    color: #808080;
    float: right;
}

.span-img-facebook
{
    font-size: large;
    position: absolute;
    right: 10%;
    top: 35px;
}

.cart-div-desk
{
    position: relative;
}

.font-menu
{
    width: 100%;
    position: fixed;
    z-index: 100;
}

.imagen-header
{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

#barra
{
    font-size: 12px;
    letter-spacing: 0.1em;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#barra2:hover
{
    color: white;
}

.barras
{
    color: #9FBFC2;
}

.redondo
{
    padding:3%;
    color: #808080;
    float: right;
    margin-top:0.5%;
    margin-right: 6.3%;
}

.redondo:hover
{
    border-radius: 70%;
    width: 21px;
    height: 36px;
    margin-top: 13px;
    margin-right: 76px;
    padding: 30px;
    background: #e53623;
    text-align: center;
    color: white !important;
}

.redondo2
{
    position: absolute;
    margin-top: 2.5%;
    padding-top: 2%;
    padding-left: 2%;
    color: #808080;
    float: right;
    margin-right: 1.4%;
}

.div-instagram
{
    right: 0%;
}

.div-facebook
{
    right: 2.3%;
}

.redondo2:hover
{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #94B7BB;
    text-align: center;
    text-decoration: white;
    color: white !important;
}

#br:hover
{
    color: white;
}

#br2:hover
{
    color: #e53623;
}

.font-menu.activado
{
    color: #e53623;
    background: transparent;
}

.imagenBiluppo2
{
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.22);
    position: absolute;
    z-index: 1;
}

.numero
{
    position: absolute;
    font-size: 13px !important;
    right: 8%;
    top: 35px;
}

.carro
{
    position: absolute;
    top: 3px;
    right: 6%;
    z-index: 1;
}

.carro:hover
{
    content: url("https://7static.loadingplay.com/static/images/0fddcfd59e5bef8363af86999e73186e_carro-blanco_(1).png");
}

.instaImg
{
    position: absolute;
    top: -37px;
    right: -4px;
}

.instaImg:hover
{
    content: url("https://7static.loadingplay.com/static/images/6be89f92087c7ce0f162c1798bce9aed_insta-blanco.png");
}

.faceImg
{
    position: absolute;
    top: -37px;
    right: -5px;
}

.faceImg:hover
{
    content: url("https://84static.loadingplay.com/static/images/a2512973270d023daa435f468bb49bdd_fb-blanco.png");
}

a:focus
{
    outline: none;
    outline-offset: -2px;
}

ul.topnav li
{
    float: left;
}

ul.topnav li a
{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover
{
    color: #e53623;
}

ul.topnav li.icon
{
    display: none;
}

@media only screen and (max-width:1200px)
{
    .header-cart
    {
        right: 6% !important;
    }

    .header-cantidad
    {
        font-size: 31px;
    }

    ul.topnav li:not(:first-child)
    {
        display: none;
    }

    ul.topnav li.icon
    {
        float: left !important;
        display: inline-block;
    }

    ul.topnav
    {
        background: transparent;
        box-shadow: none !important;
    }

    #barra
    {
        text-align: center !important;
        font-size: 25px !important;
    }

    .barras
    {
        color: white !important;
    }

    ul.topnav.responsive
    {
        position: fixed;
        background-color: #94b7bb;
        width: 100%;
        height: 100%;
    }

    ul.topnav.responsive li.icon
    {
        right: 0;
        top: 0;
    }

    ul.topnav.responsive li
    {
        float: none;
        display: inline;
    }

    ul.topnav.responsive li a
    {
        display: block;
    }

    .imagenBiluppo2
    {
        margin-left: 40%;
    }

    .inicio
    {
        margin-top: 20% !important;
    }

    .header-cantidad
    {
        font-size: 25px;
    }

    .carro
    {
        margin-top: 20px;
    }
    
    .numero
    {
        top: 27px !important;
        color: #e53623 !important;
    }
}

@media only screen and (max-width: 991px)
{
    .carro
    {
        margin-top: 13px;
        margin-right: 2%;
        top: 6%;
    }
}

@media only screen and (max-width: 568px)
{
    .imagenBiluppo2
    {
        margin-left: 35% !important;
    }

    .iconoMenu
    {
        font-size: 25px !important;
    }

    .carro
    {
        top: 25px;
    }
}

@media only screen and (max-width: 480px)
{
    .carro
    {
        margin-top: 1px;
        margin-right: 9%;
        width: 7%;
    }

    .header-cantidad
    {
        top: 5px;
        position: relative;
    }
}

@media only screen and (max-width: 375px)
{
    .imagenBiluppo2
    {
        margin-left: 30% !important;
        width: 20% !important;
    }

    #barra
    {
        font-size: 25px !important;
    }

    ul.topnav li.icon
    {
        margin-left: -13%;
    }

    .carro
    {
        top: 19px !important;
        right: 0px !important;
    }

    .numero
    {
        top: 18px !important;
        right: 18px !important;
    }
}
